<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/">BITLAB-SHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/addItem'}">Add Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Sign in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<form th:action="@{'/addItem'}" method="post">
    <div class="container ">
    <div class="row">
        <div class="container">
            <div class="col-6">
                Name:
            </div>
        </div>
        <div class="container">
            <div class="col-6">
                <input type="text" placeholder="Name" name="itemName">
            </div>
        </div>
        <div class="container">
            <div class="col-6">
                Price
            </div>
        </div>
        <div class="container">
            <div class="col-6">
                <input type="number" placeholder="Price" name="itemPrice">
            </div>
        </div>
        <div class="container">
            <div class="col-6">
                Description
            </div>
        </div>
        <div class="container">
            <div class="col-6">
                <input type="text" placeholder="Description" name="itemDescription">
            </div>
        </div>
        <div class="container mt-2">
            <div class="col-6">
                <button class="btn-sm btn-success">Add Item</button>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>
